img {
  max-width: 100%;
}

html { font-size: 100%; }
html, body { height: 100%; }

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: #000;
	width: 80%;
	margin: auto;
	background: #fff;
	position: relative;
	padding: 100px 30px 100px 30px;
}

h1,h2,h3,h4,h5,h6 { 
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 420%;
	margin: 0 0 0.1em;
	font-family: Helvetica, Arial, sans-serif;
}

h2 { font-size: 22pt; }
h3 { font-size: 20pt; }
h4 { font-size: 18pt; }

h5 { 
  font-size: 16pt;
  line-height: 0.01;
  }
  
h6 {
  font-size: 12pt;
  line-height: 0.1;
  }

::selection { background: #745626; }
::-moz-selection { background: #745626; }

p a,
p a:hover {
	color: #d51722;
	font-weight: normal;
	text-decoration: none;
}

#header {
  text-align: center;
  padding-bottom 30px;
}

#alexander-holden {
  line-height: 1;
  float: left;
  width: 33%;
}

#garrett-smith {
  line-height: 1; 
  float: left;
  width: 33%;
}

#taylor-morgan {
  line-height: 1;
  float: left;
  width: 33%;
}

#ami-main-steps {
  clear: both;
}

#ami-main-steps ul {
  list-style-type: none;
  padding: 0;
  line-height: 0.7;
}

#ami-features ul {
  list-style-type: none;
  padding: 0;
  line-height: 0.7;
}

pre {
	background: rgba(0,0,0,0.3);
	color: #fff;
	padding: 20px 20px;
	border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	overflow-x: hidden;
}

pre code {
	font-size: 10pt;
}

.thumb { 
    float:left;
    margin: 10px;
}
