img {
  max-width: 100%;
}

html { font-size: 100%; }
html, body { height: 100%; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
	line-height: 1.5;
	color: #000;
	width: 80%;
	margin: auto;
	background: #fff;
	position: relative;
  padding: 0px 30px 100px 30px;
  	overflow-wrap: break-word;
}

h1,h2,h3,h4,h5,h6 { 
  font-family: Helvetica, Arial, sans-serif;
  overflow-wrap: break-word;
}

h1 {
  font-size: 420%;
	margin: 0 0 0.1em;
}

h2 { font-size: 22pt; }
h3 { font-size: 20pt; }
h4 { font-size: 18pt; }

h5 { 
  font-size: 16pt;
  line-height: 0.01;
  }
  
h6 {
  font-size: 12pt;
  line-height: 0.1;
  }

p a,
p a:hover {
	color: #d51722;
	font-weight: normal;
	text-decoration: none;
}

#logo {
  width:50%;
  height:50%;
  padding-top:5px;
}

#header {
  text-align: center;
  padding-bottom: 30px;
  overflow-wrap: break-word;
  clear: both;
}

#alexander-holden {
  line-height: 1;
  float: left;
  width: 33%;
  word-wrap: break-word;
  min-width: 180px;
}

#garrett-smith {
  line-height: 1; 
  float: left;
  width: 33%;
  word-wrap: break-word;
  min-width: 180px;
}

#taylor-morgan {
  line-height: 1;
  float: left;
  width: 33%;
  word-wrap: break-word;
  min-width: 180px;
}

#ami-main-steps {
  clear: both;
}

#ami-main-steps ul {
  list-style-type: none;
  padding: 0;
  line-height: 0.7;
}

#ami-features ul {
  list-style-type: none;
  padding: 0;
  line-height: 0.7;
}

<!topnav styling>
#topnav {
  padding: 0px, 0px, 25px, 0px;
  text-align:center;
}

#topnav ul {
    list-style-type:none;
    margin:0;
    padding:0px;
}

#topnav li {
    display:inline-block;
    float: left;
    min-width:33%;
}

#topnav li a {
    display:block;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
    background: #000;
    text-decoration: none;
}

#topnav li:hover a {
    background: #d51722;
}